.button {
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  padding: 10px;
  min-width: 200px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s linear;

  &:hover {
    background-color: #0fc3a2;
    color: #fff;
    box-shadow: 0 0 10px #0fc3a2ae;
  }
}