.header {
  padding: 10px 30px;
  background-color: #3d3374;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    color: #0fc3a2;
    font-size: 26px;
  }

  &__content {
    color: #0fc3a2;
    font-size: 20px;
  }

  &__home-button {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    background-image: url('../../assetc/home-svgrepo-com.svg');
    transition: transform 0.3s linear;

    &:hover {
      transform: translateY(-2px);
    }
  }
}